rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if true;   // 誰でも読み取り可能
      allow write: if false; // 書き込みは誰にも許可しない
    }
  }
}