rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;   // 誰でも読み取りOK
      allow write: if false; // 誰も書き込み不可
    }
  }
}