body {
  font-family: 'Sawarabi Mincho', serif!important;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  font-family: 'Sawarabi Mincho', serif!important;
}

.max-width-800 {
  max-width: 800px;
  margin: auto;
}